<article>
  <header>
    <h1>Hero information</h1>
  </header>
  <%= image_tag @hero.uri %>
  <p>
    <%= @hero.name %>
  </p>

  <% @good_heroes.each do |good| %>
    <p><%= good.name %></p>
  <% end %>
</article>
